<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<%= @answer %>
<%= link_to "Know more about us", about_path %>
<%= link_to "Discover all our restaurants", restaurants_path %>
<%= link_to "Dishoom", restaurant_path(1) %>
